.deals-ranking-table {
  border-top: 13px solid #fafafa;

  .ant-page-header {
    border-radius: 0 !important;
  }

  .search {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
    }
  }

  .header {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    .ant-page-header-title-view-extra {
      margin-top: 2px;
    }
    .footer {
      margin-top: -10px;
      margin-left: 8px;
      margin-bottom: 10px;

      .selected {
        font-weight: 800;
        border-bottom: 2px solid #595959;
      }
    }
  }

  .table {
    background-color: #ffffff;
    padding-bottom: 15px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;

    .ant-table-small {
      border: none;
    }
  }
}