.deals-ranking-table {
  border-top: 13px solid #fafafa;

  .ant-page-header {
    border-radius: 0 !important;
  }

  .ant-page-header-title-view {
    width: 100%;
    .ant-page-header-title-view-title {
      width: 100%;
    }
  }

  .ant-page-header-heading {
    width: 100%;
    .ant-page-header-heading-title {
      width: 100%;
    }
  }

  .header {
    .title {
      display: flex;
      justify-content: space-between;
      .collapse {
        margin-top: 3px;
        font-size: 0.8rem;
      }
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
    }
  }

  .header {
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px;
    .ant-page-header-title-view-extra {
      margin-top: 2px;
    }
    .footer {
      margin-left: 8px;
      margin-bottom: 10px;

      .selected {
        font-weight: 800;
        border-bottom: 2px solid #595959;
      }
    }
  }

  .table {
    background-color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;

    .ant-table-small {
      border: none;
    }
  }
}