.search-history-table {
  background-color: white;
  border: none;
  border-radius: 0;
  .selected {
    background-color: #595959;
    span {
      color: #ffffff;
    }
  }

  .ant-list-item {
    display: flex;
    justify-content: space-between;
  }
}