.common-date-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 26px;
  background-color: #f4f4f4;
  border-bottom: 10px solid #e8e8e8;

  .date-select {
    .selected {
      color: #595959;
      border-bottom: 2px solid #595959;
      font-weight: 800;
    }

    .ant-typography {
      margin-right: 12px;
    }
  }

  div {
    .split {
      margin-left: 4px;
      margin-right: 4px;
    }

    .ant-btn {
      padding: 0 10px;
    }
  }
}